<%-include('../partials/header')%>
	<link rel="stylesheet" type="text/css" href="/css/con.css">
	<%-include('../partials/nav')%>
    <h1>Thanks For Ordering . Your Order Was Placed Successfully!</h1>
    <%-include('../partials/footer')%>