<%-include('../partials/header')%>
	<link rel="stylesheet" type="text/css" href="/css/order.css">
	<%-include('../partials/nav')%>
    <main class="con">
        <h1>Thanks For Ordering . Your Order Was Placed Successfully!</h1>
        <a href="/series">Go Back And Check out Other Products</a>
    </main>
    
    <%-include('../partials/footer')%>